#presentacion {background-color: #c8e9c4}
.titulo2 {background-color: #99db95}
ul {text-align: center;}

#presentacion {font-family: 'Courier New', Courier, monospace}

#html {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

#css {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
.coco  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.boton {
  background-color: #77b073;
  color: white;
  padding: thin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.boton:hover {
  color: black;
  background-color: #a8eaa4 }

.enlace {
   background-color: #b6e194;
  color: white;
  padding: thin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.enlace:hover {
  color: black;
  background-color: #6c9150;}

ul a {
  font-size: 16 px;
  padding: 14px 40px;
  border-radius: 8px;
  background-color: #5ca257;
  color: white;
  padding: thin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

ul a:hover {
   font-size: 16 px;
  padding: 14px 40px;
  border-radius: 8px;
  background-color: #bdeeba;
  color: black;
  padding: thin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

