body {background-color: black}
body {color: white}
#primero:hover{background-color: orange;
        color: black}
#segundo:hover{background-color: orange;
        color: black}
#tercero:hover{background-color: orange;
        color: black}
#cuarto:hover{background-color: orange;
        color: black}
h1 {font-weight: bold}
body {font-family: 'Courier New', Courier, monospace}
img { display:block;  
    margin-left: auto;  
    margin-right: auto;
    vertical-align: middle;}
body {padding: 5px;
      margin: 5px}

#lista {border-style:  outset;
        border-width:  5px;
        border-color:  red;
        border-radius: 15px 50px 30px;}

.boton {
  background-color: #dd2c1f;
  color: white;
  padding: thin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
  color: rgb(112, 112, 223)
}}